[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restful = "*"
flask-mongoengine = "*"
pymongo = "*"
mongoengine = "*"
flask-jwt-extended = "*"
flask-bcrypt = "*"
redis = "*"
gunicorn = "*"

[dev-packages]
